<%- include('headerAdmin.ejs') %>
<%- include('navAdmin.ejs') %>
<!-- =============== Conteúdo ================== -->
<div class="container mt-5 pt-5">
    
        <h1>Atualizar Produtos</h1>
    </header>
        <!-- =============== ATUALIZA PRODUTO ================== -->
        <div class="row">
        <div class="col-md-8 col-sm-8 col-lg-8">
            <div class="card">
                    <div class="card-body">
                    <h4 class="card-title"></h4>
                    <form id="form-produto" class="form">
                        <fieldset>
                            <legend></legend>
                        <ul class="list-unstyled">
                            <li>
                                <label>Título:</label>
                    <input class="form-control" name="titulo" id="" value="<%=produtoDaVez[0].titulo%>">
                            </li>
                            <li>

                             <li>
                                 <label>Categoria:</label>
                     <input class="form-control" name="genero" id="" value="<%=produtoDaVez[0].genero%>">
                                </li>
                                <li>
                                <label>Sinopse:</label>
                 <textarea class="form-control" name="sinopse" id=""><%=produtoDaVez[0].sinopse%></textarea>
                            </li>
                            <li>
                                <label>Imagem:</label>
                    <input class="form-control" name="fotos" id="" value="<%=produtoDaVez[0].fotos%>">
                            </li>
                            <li>
                                <label>Preço:</label>
                    <input class="form-control" name="preco" id="" value="<%=produtoDaVez[0].preco%>">
                            </li>
                            
                            <li>
                            
                                <li>
                                    <label>Promoção:</label>
                        <input class="form-control" name="promo" id="" value="<%=produtoDaVez[0].promo%>">
                                </li>
                                <li>
                                    <label>Trailer:</label>
                        <input class="form-control" name="trailer" id="" value="<%=produtoDaVez[0].trailer%>">
                                </li>
                                
                                <li>    
                                <li>
                                <button type="button" class="btn btn-warning mt-5 bt-prod"><img src="/imagens/confirmar.png" width="20" ></button>
                                <button type="button" class="btn btn-dark mt-5 bt-voltar"><img src="/imagens/voltar.png " width="20" ></button>
                                <button type="button" class="btn btn-danger mt-5 bt-excluir"><img src="/imagens/excluir.png" width="20" ></button>
                            </li>
                        </ul>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4">
            <img src="imagens/<%=produtoDaVez[0].fotos%>" class="w-75" />
        </div>
    
    <!-- =============== Fim do Atualiza Produto ================== -->
    
  </div>
    <!-- =============== FIM Conteúdo ================== -->
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>

    <script>
    $().ready(function(){
    
        $('.bt-prod').click(function(){
            $.post('./atualiza_single',
            {
             //resumo,imagem,valor,titulo,id
             id:'<%=id%>',
             titulo:$('#form-produto input[name=titulo]').val(),
             genero:$('#form-produto textarea[name=genero]').val(),
             sinopse:$('#form-produto input[name=sinopse]').val(),
             fotos:$('#form-produto input[name=fotos]').val(),
             preco:$('#form-produto input[name=preco]').val(),
             promo:$('#form-produto input[name=promo]').val(),
             trailer:$('#form-produto input[name=trailer]').val(),

            }, function(data,status){
                alert(data)
            },'json')
        })
    
    
         $('.bt-voltar').click(function(){
         location.href='/relatorio-produto'
          })
          
          $('.bt-exclui').click(function(){
            location.href='/relatorio-produto'
            $.post('./delete_single',
            
            {
             //resumo,imagem,valor,titulo,id
             id:'<%=id%>',
             titulo:$('#form-produto input[name=titulo]').val(),
             genero:$('#form-produto textarea[name=genero]').val(),
             sinopse:$('#form-produto input[name=sinopse]').val(),
             fotos:$('#form-produto input[name=fotos]').val(),
             preco:$('#form-produto input[name=preco]').val(),
             promo:$('#form-produto input[name=promo]').val(),
             trailer:$('#form-produto input[name=trailer]').val(),

            }, function(data,status){
                alert(data)
            },'json')
        })
    
    })
    
    </script>
<%- include('footerAdmin.ejs') %>

</body>

</html>
