<%- include('headerAdmin.ejs') %>
<%- include('navAdmin.ejs') %>
<!-- =============== FIM DO MENU =============== -->

<!-- =============== Conteúdo ================== -->
<div class="container pt-5">

    <!--===============FORM CONTATOS===============-->
    <h1 class="">Atualizar promoções</h1>
    <form action="./atualiza-promo" method="GET" class="mt-5 mb-5 border rounded p-5">

        <div class="form-group">
            <label for="promo">Adicionar a lista de promoções?</label>
            <input type="radio" class="col-lg-1" value="1" id="promo_sim" name="promo" checked >Sim
            <input type="radio" class="col-lg-1" value="0" id="promo_nao" name="promo">Não
        </div>

        <div class="form-group">
            <label for="filme">Filme:</label>
            <select name="id">
                <option value="Selecione Um Filme" disabled selected>Selecione Um Filme</option>
                <%galeria.forEach((item)=>{ %>
                <option value="<%=item.filmes_id%>"><%=item.titulo%></option>
                <% }) %>

        </select>
    </div>
        <button type="submit" class="btn btn-warning">Confirmar</button>
    </form>

</div>
<!-- =============== Fim do Conteúdo ================== -->

<!-- =============== FOOTER ================== -->
<%- include('footerAdmin.ejs') %>

</body>
<script src="js/controle.js"></script>

</html>
<!-- =============== Fim FOOTER ================== -->