<%- include('headerAdmin.ejs') %>
<%- include('navAdmin.ejs') %>

<div class="container">
    <div class="row">
        <table class="col-sm-6 text-center mt-5 mb-5 mr-2">
            <thead>
            <th style="border: 1px solid black;border-collapse: collapse;">Nome</th>        
            <th style="border: 1px solid black;border-collapse: collapse;">E-mail</th>
            <th style="border: 1px solid black;border-collapse: collapse;">Telefone</th>                        
        </thead>
     
        <%chamado.forEach((item)=> { %>
        <tbody>                         
            <td style="border: 1px solid black;border-collapse: collapse;"><%=item.nome%></td>        
            <td style="border: 1px solid black;border-collapse: collapse;"><%=item.email%></td>
            <td style="border: 1px solid black;border-collapse: collapse;"><%=item.telefone%></td>                                       
        </tbody>    
        <% }) %>
        </table>

        <div class="col-sm-5 mt-5">                         
            <div style="border: 1px solid black;">  
                <h3 class="ml-2">Próximo cliente a ser atendido:</h3 class="ml-3">         
                <p class="ml-3 mt-2"> <b>Nome:</b> <%=chamado[0].nome%></p>
                <p class="ml-3"><b>E-mail:</b> <%=chamado[0].email%></p>
                <p class="ml-3"><b>Telefone:</b> <%=chamado[0].telefone%></p>
                <p class="ml-3"><b>Assunto:</b> <%=chamado[0].assunto%></p>                
                <p class="ml-3"><b>Comentario:</b> <%=chamado[0].comentario%></p> 
                <p> ID DA CHAMADA = <%=chamado[0].chamada_id%> </p>
                <button type="submit" class="btn-danger ml-5 bt-chamada" value="<%=chamado[0].chamada_id%>" data-id="<%=chamado[0].chamada_id%>">
                    Confirmar Atendimento
                </button>

                <h4 class="ml-2 mt-5">Chamadas Atendidas</h4>
                <p class="ml-3">Total: <%=atendimento.length%></p>        
                <h4 class="ml-2">Chamadas Pendentes</h4>
                <p class="ml-3">Total: <%=chamado.length%></p>
        
            </div>
        </div>
    </div>
</div>

</body>
<script>
    $().ready(function(){
        console.log("Jquery funfando...")
        $('.bt-chamada').click(function(){
            let dataid = $(this).attr('data-id')                

            $.post("/relatorio-chamada",
            {
                id:dataid,                    
            })                
        })   
    })
</script>

<%- include('footerAdmin.ejs') %>

</html>