<%- include('headerAdmin.ejs') %>
<%- include('navAdmin.ejs') %>

 <!-- =============== Conteúdo ================== -->
 <div class="container mt-5 pt-5">
    <header>
        <h1>Relatório de Produtos</h1>
    </header>
    <% produto.forEach((item)=>{ %>
      <div class="row mt-1">
          <div style="border:1px solid #999;" class="w-75"><%=item.titulo%></div>
          <div><button data-id="<%=item.filmes_id%>" class="btn btn-dark bt-edit">Editar</button></div>
      </div>
    <% }) %>
  </div>
 <!-- =============== FIM Conteúdo ================== -->
 <script>
  $().ready(function(){
  
  $('.bt-edit').click(function(){
  
  let dataid=$(this).attr('data-id')
  
          $.post("/upd-form-produto",
          {
          id:dataid
          },
          function(data,status)
          {
            location.href='./upd-form-produto'
          })
      })
  })  
  </script>


<%- include('footerAdmin.ejs') %>

</body>



</html>