<%- include('header.ejs') %>
<%- include('nav.ejs') %>


    <section class="container">
        <h1 class="ml-5 mt-5 mb-5" style="color: brown;">Meu Carrinho</h1>
        
        <!--Informações carrinho-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="row text-center">
                    <h4 class="col-sm-2 text-left"><b>Produto</b></h4>
                    <h4 class="col-sm-2"><b>Telas</b></h4>
                    <h4 class="col-sm-2"><b>Quantidade</b></h4>
                    <h4 class="col-sm-3"><b>Preço</b></h4>
                    <h4 class="col-sm-2 text-right"><b>Excluir<b></b></h4>
                </div>                
                <div id="conteudoCarrinho" class="border" style="border: 2px;">
                    <%
                     total=0
                     carrinho.forEach((item)=>{
                     total += parseFloat(item.preco)
                        %>   

                    <div class="row text-center" id="produto1">
                        <div class="col-sm-2 text-left mt-2 ml-2">                            
                            <%=item.produto %>
                        </div>
                        <input id="tela1" class="col-sm-2 mt-2" type="number" min="1" max="5" style="height: 30px;" />
                        <div class="col-sm-2 mt-2 text-center"><%=item.qtd %></div>
                        <div class="col-sm-3 mt-2">R$ <%=item.preco %></div>
                        <div class="col-sm-2 mt-2">
                            <button class="btn bt-carrinho" data-id="<%=item.carrinho_id%>">
                                <img src="imagens/lixeiraCinza.png" class="w-50"> 
                            </button>
                        </div>
                    </div>
                    <% }) %>  
                </div>
            </div>
        </div>
    </section>

    <section class="container mt-5">
        <div class="row">
            <div class="col-sm-5">
                <!-- área cupom -->
                <h1 style="color: brown;">Cupom</h1>
                <div style="border: 2px solid; border-radius: 20px;">
                    <form id="formDesconto" class="text-center mt-3 mb-3 ml-3 mr-3">
                        <h4>Digite o código do cupom:</h4>
                        <input type="text" id="cupom" class="form-control w-80 text-center mt-2">
                        <button type="button" class="btn btn-info btn-lg btn-block mt-3" name="botao"
                            id="btCupom">Aplicar</button>
                    </form>
                </div>
            </div>

            <!--Setor Resumo do pedido-->
            <div class="col-sm-6" id="divResumo">
                <h1 style="color: brown;">Resumo do pedido</h1>
                <div style="border: 2px solid;" id="resumoPedido">
                    <div>
                        <h3 class="mt-3 ml-3 text-center"> Produtos</h3>
                    </div>
                    <div>
                        <h5 class="mt-3 ml-3" id="subTotal">Subtotal: <%=total.toFixed(2)%></h5>                        
                        <h3 class="ml-3 text-center" id="total">Total: <%=total.toFixed(2)%></h3>
                    </div>
                    <div class="mt-5 ml-4 mr-4">
                        <button class="btn btn-danger btn-lg btn-block">Continuar</button>
                    </div>
                    <div class="mt-3 mb-5 text-center">
                        <h6><a href="/produtos">Adicionar Mais Produtos</a></h6>
                    </div>
                </div>
            </div>
        </div>     
    </section>

    <section class="container mt-5">
        <div class="row">
            <div class="col-sm-4"> <img src="../imagens/toryca.jpeg" alt="" class="w-50"></div>
            <div class="col-sm-4"> <img src="../imagens/shrek.jpeg" alt="" class="w-50"></div>
            <div class="col-sm-4"> <img src="../imagens/cristo.jpeg" alt="" class="w-50"></div>
        </div>
    </section>

    <!--Setor de rodapé-->
    <%- include('footer.ejs') %>
  
</body>
<!-- <script src="js/carrinho.js"></script> -->
<script>
    $().ready(function(){
        console.log("Jquery funfando...")
        $('.bt-carrinho').click(function(){
            let dataid = $(this).attr('data-id')                

            $.post("/delete-carrinho",
            {
                id:dataid,                    
            },
            function(data,status){
                location.href='/carrinho'
            },'json')                
        })   
    })
</script>

</html>