<%- include('header.ejs') %>
<%- include('nav.ejs') %>


<section class="container">
    <h1 class="mt-5 subtitulo1">Meu Carrinho</h1>
    <div class="row">

        <div class="col-sm-7 mt-3">
            <div class="row text-center">
                <h4 class="col-sm-4 ">Produto</h4>
                <h4 class="col-sm-2">Telas</h4>
                <h4 class="col-sm-2">Qtd</h4>
                <h4 class="col-sm-2">Preço</h4>
                <h4 class="col-sm-2 text-right">Excluir</h4>

            <div class="border p-3 produto">
                <%
                     total=0
                     totalQtd=0
                     carrinho.forEach((item)=>{
                     total += parseFloat(item.preco)
                     totalQtd += parseFloat(item.qtd)
                        %>

                <div class="row text-center">

                    <div class="col-sm-4 mb-2">
                        <img class="w-50 imgFilme" src="imagens/<%=item.fotos%>" alt="Card image cap">
                    </div>

                    <input id="tela1" class="col-sm-2" type="number" value="1" min="1" max="5"
                        style="height: 30px;">

                    <div class="col-sm-2 text-center"><%=item.qtd %></div>

                    <div class="col-sm-2">R$ <%=item.preco %></div>

                    <div class="col-sm-2">
                        <button class="btn bt-carrinho" data-id="<%=item.carrinho_id%>">
                            <img src="imagens/lixeiraCinza.png" class="w-100">
                        </button>

                    </div>

                </div>
                <% }) %>
            </div>

        </div>
        </div>


        <div class="col-sm-4 mt-5 ml-3 produto">
            <h1 class="mt-3 subtitulo1">Resumo Do Pedido</h1>

            <div class="mt-3">
                <h1><%=totalQtd%> Produtos</h1>
            </div>

            <div class="mt-5">
                <h4>Possui Cupom de Desconto?</h4>
                <div class="mb-3">
                    <input type="text" placeholder="Digite o Código do Cupom" class=""> <br>
                    <button type="button" class="btn btn-warning mt-3 carrin" name="botao"
                        id="btCupom">Aplicar</button>
                </div>
        </div>

                <div class="">
                    <div class="">
                        <h5 class="" id="subTotal">Subtotal: R$ <%=total.toFixed(2)%></h5>
                        <h2 class="" id="total">Total: R$ <%=total.toFixed(2)%></h2>
                    </div>

                    <div class="mt-5 text-center">
                        <button class="btn btn-warning carrin">Continuar</button>
                    </div>

                    <div class="text-center mt-2">
                        <a href="/produtos">Adicionar Mais Produtos</a>
                    </div>

                    <button class="btn bt-carrinho">
                        <img src="imagens/lixeiraCinza.png" width="50px" class="">
                    </button>

                </div>

        </div>
    
    </div>
</section>

<!--Setor de rodapé-->
<%- include('footer.ejs') %>


</body>
<script>
    $().ready(function () {
        console.log("Jquery funfando...")
        $('.bt-carrinho').click(function () {
            let dataid = $(this).attr('data-id')
            var resultado = confirm("Dejesa excluir um item do seu carrinho?");
            if (resultado == true) {
                $.post("/delete-carrinho", {
                        id: dataid
                    },
                    function (data, status) {
                        location.href = '/carrinho'
                    }, 'json')
            } else {
                null
            }
        })
    })
</script>

</html>