<%- include('header.ejs') %>
<%- include('nav.ejs') %>

<section class="container mt-5">
    <h1 class="subtitulo">Perguntas Frequentes</h1>
    <div class="mt-5">
        <h2 class="subtituloHeader">O que é a BORA VER ?</h2>
        
            <p>A Bora Ver nasceu a partir de uma demanda em sala de aula, um projeto-vídeo a ser elaborado pelos alunos de Back-End, do Programa da Impulso Tec, parceria com a K2, no ano de 2022.</p>
            <p>Ela é uma plataforma de streaming de vídeo desenvolvida pela equipe Outliers, e foi pensada para oferecer a melhor experiência para o usuário, o qual pode desfrutar de intensas e inesquecíveis emoções, por meio de um seleto catálogo de filmes, séries e documentários.</p>
            <p>Cada detalhe do projeto foi desenvolvido para proporcionar um conteúdo e uma navegação mais agradável aos olhos dos assinantes.</p>
            <p>Fazendo referência à uma sala de cinema, local onde até pouco tempo os filmes eram, prioritariamente, vistos, as cores preta e cinza foram aplicadas, em estilo gradiente, em toda plataforma. Já as cores amarela e dourada foram utilizadas para simbolizar a luz, tão empregada nos filmes para destacar ambientes, cenas, contrastes, mostrar e ocultar detalhes, enfim, para dar ênfase à história, como enquadramento e foco.</p>
            <p>Seja sozinho ou acompanhado, cada pessoa poderá apreciar inúmeros vídeos que garantirão diversão e entretenimento.</p>
            <p>Acesse, clique e surpreenda-se! <b>Bora Ver?!</b></p>
        <hr>
    </div>

    <div>        
        <h2 class="subtituloHeader">Quem São Os integrantes desse Projeto?</h2>                    
        <div class="row">
            
            <div class="col-sm-12">
                <h4 class="mt-3 mb-3">Professor Orientador:</h4>
            </div>                    
            <div class="prof mt-5 ml-2 mr-2" >            
                <div class="col-sm-4 mt-2">             
                    <a href="https://www.linkedin.com/in/coach-roque-fernando/" target="_blank">
                        <img src="/imagens/fotoRoque.jpg" class="profImg" />                                                
                    </a>
                </div>
                <div class="col-sm-4 mt-2 text-center" >
                    <p> 
                        <a href="https://www.linkedin.com/in/coach-roque-fernando/" target="_blank" class="profLink">Roque Fernando</a> 
                     </p>  
                </div>            
            </div>            
        </div>
        <hr>

        <div class="row ">                   
            <div class="col-sm-12">
                <h4 class="mt-3 mb-3">Desenvolvedores:</h4>
            </div>
            
                <%dev.forEach((item)=> { %> 
            <div class="dev mt-5 ml-2 mr-2" >            
                <div class="col-sm-4 mt-2">             
                    <a href="<%=item.link%>" target="_blank">
                        <img src="imagens/<%=item.foto%>" class="imgDev" />                                                
                    </a>
                </div>
                <div class="col-sm-4 mt-2 text-center" >
                    <p> 
                        <a href="<%=item.link%>" target="_blank" class="linkDev">
                            <%=item.nome%>
                        </a> 
                    </p>  
                </div>                
            </div>
            <% }) %> 
        </div>
    </div>

    <div>
        <h2 class="subtituloHeader mt-5">Quais as Tecnologias utilizadas no Projeto?</h2>
        <div class="row text-center mt-4">            
            <h4 class="col-sm-3">HTML</h4>
            <h4 class="col-sm-3">CSS</h4>
            <h4 class="col-sm-3">JavaScript</h4>
            <h4 class="col-sm-3">Node.Js</h4>
        </div>                        
    </div>

</section>
<%- include('footer.ejs') %>