<%- include('header.ejs') %>
<%- include('nav.ejs') %>

<section class="container mt-5">
    <div class="row ">
        <%filme.forEach((item)=> { %>

        <div class="col-sm-3 mt-5" id="produto">
            <a href="/single-produto?id=<%=item.filmes_id%>">
                <img class="card-img-top mt-3" src="imagens/<%=item.fotos%>" alt="Card image cap">
            </a>
            <h2 class="mt-3 subtitulo"><%=item.titulo%></h2>
            <h4 class="precoPromo mt-3 text-center">R$ <%=item.preco%></h4>  


        </div>
        <% }) %>

    </div>
</section>

<section class="container mt-5">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4 mt-5">
                <div>
                    <a href="/single-preferencia"><img src="" alt="x" class="w-50" id="favorito1"></a>
                </div>
            </div>
            <div class="col-sm-4 mt-5">
                <div>
                    <a href="/single-preferencia"><img src="" alt="x" class="w-50" id="favorito2"></a>
                </div>
            </div>
            <div class="col-sm-4 mt-5">
                <div>
                    <a href="/single-preferencia"><img src="" alt="x" class="w-50" id="favorito3"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('footer.ejs') %>

</body>
</html>