<%- include('header.ejs') %>
<%- include('nav.ejs') %>

        
    <div class=" entrarSair text-right">
        <span id="bemVindo"></span>
        <a href="/cadastro" id="cadastro" class="mr-2"> Cadastre-se </a>
        <a href="/login" id="entrar"> Entrar </a>
        <a href="/" id="sair" class="ml-2"><img src="imagens/sair.png" width="30px" alt=""></a>
    </div>
     
    <section class="container mt-5">
        <div class="row ">
            <%filme.forEach((item)=> { %>

            <div class="col-sm-4 mt-5 mb-3 ">
                <h2 class="mb-3 subtitulo"><%=item.titulo%></h2>
                <a href="/single-produto?id=<%=item.filmes_id%>">
                    <img class="card-img-top" src="imagens/<%=item.fotos%>" alt="Card image cap">
                </a> 
                <div class="row">
                    <h4 class="precoPromo mt-3 ml-3 mr-2" style="font-size: x-large!important;"> 
                        R$ <%=item.preco%>
                    </h4>
                    <button data-id="<%=item.filmes_id%>" data-produto="<%=item.titulo%>" data-valor="<%=item.preco%>" class="btn btn-dark bt-carrinho mt-2">
                        Adicionar ao carrinho
                    </button>                                   
                </div>                                     
            </div>
            <% }) %>

        </div>
    </section>
   

</body>

<!-- <script src="js/index.js"></script> -->
<script>
    $().ready(function(){
        console.log("Jquery funfando...")
        $('.bt-carrinho').click(function(){
            let dataid = $(this).attr('data-id')
            let dataProduto = $(this).attr('data-produto')
            let dataValor = $(this).attr('data-valor')

            $.post("/carrinho",
            {
                filmes_id:dataid,
                produto:dataProduto,
                qtd:1,
                preco:dataValor
            },
            function(data,status){
                location.href='/carrinho'
            },'json')                
        })        
    })
</script>

<%- include('footer.ejs') %>

</html>