<%- include("header.ejs")%>
<%- include("nav.ejs")%>

    <section class="container">
        <button class="btn btn-danger" onclick="trocaTrailer()">Refresh</button>
    </section>

    <section class="container">
        <div id="" class="col-sm-12 mt-5 mb-5">
            <div class="row">
                <div class=" col-sm-4">

                    <iframe id="trailerCab1" width="300" height="200" src="" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>

                </div>

                <div class="col-sm-4">
                    <a href="/single-produto">

                        <iframe id="trailerCab2" width="300" height="200" src="" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>

                    </a>
                </div>

                <div class="col-sm-4">

                    <iframe id="trailerCab3" width="300" height="200" src="" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>

            </div>

        </div>
    </section>

    <section class="container mt-5">
        <div class="row ">
            <%produto.forEach((item)=> { %>
            <div class="col-sm-4 mt-5 mb-3 ">
                <h2 class="mb-3 subtitulo"><%=item.titulo%></h2>
                <a href="/single-produto?id=<%=item.filmes_id%>">
                    <img class="card-img-top" src="imagens/<%=item.fotos%>" alt="Card image cap">
                </a>
                <p class="mt-3 mr-5"> <%=item.sinopse%></p>

            </div>
            <% }) %>

        </div>

    </section>
<hr>
    <section class="col-sm-12 mt-5">
        <div class="flex-row d-flex justify-content-around">
            <div class=" col-sm-4">
                <a href="/single-produto"><img src="imagens/afreira.jpeg" alt="Imagem1" class="w-85"></a>
            </div>
            <div class="col-sm-4">
                <a href="/single-produto"><img src="imagens/cristo.jpeg" alt="Imagem2" class="w-85"></a>
            </div>
            <div class="col-sm-4">
                <a href="/single-produto"><img src="imagens/afreira.jpeg" alt="Imagem3" class="w-85"></a>
            </div>
        </div>
    </section>
</body>

<%- include("footer.ejs")%>

</html>