<%- include("header.ejs")%>
<%- include("nav.ejs")%>



    <section class="container">
        <div class="row">
            <div class=" livros col-sm-4">
                <div class=" mt-5">
                    <img class="w-100 singleImagem" src="imagens/<%=galeria[0].fotos%>" alt="Card image cap">
                </div>
            </div>

                    <div class=" col-sm-8 mt-3 card-singleProd">
                        <h4 class="subtitulo card-title"><%=galeria[0].titulo%></h4>
                        <p class="card-text"><%=galeria[0].sinopse%></p>
                    </div>


        </div>
    </section>
    <%- include("footer.ejs")%>

</body>

</html>